# ルール
- 当フォルダ（obrn）以外の読み書きは許可が必要
- コミットするにも許可が必要
- Webページをブラウザで表示して確認するのは人間の方が早いので、動作確認等はユーザーに依頼すること

# ウェブサイト概要
- 2000年代始めに日本で大ヒットした小説「バトル・ロワイアル」の1.5次創作ジャンル「オリジナルバトルロワイアル」（通称：オリバト）に関するサイト
- オリバトのデータ＆リンク集
- 元々テーブルレイアウトかつjQueryベースだったが、TS、Reactベースで主要ページは書き直された。

# リニューアル計画
## 完全React化
- 現在「企画」ページから遷移できるページが昔のテーブルレイアウトのままになっている
- これらのページからデータをスクレイピングしてデータからHTMLを出力するようにしたい。

## DBの導入
- 現在データを巨大なオブジェクトとして持ち、フロントエンドだけで完結しているが、バックエンドを用いる形に移行する計画がある。
- 現在巨大なデータを元にページを表示しているが、このデータをDBに移管し、読み書きしたい。
	- コストの関係からFirestoreを検討しており、少し準備してある

## 認証・認可の導入
- 元々管理人が一人で更新している静的なデータ集＆リンク集だったが、ユーザーがログインして更新したり自分のデータを追加できるようにしたい
- このため認証を導入したい。
	- 複数のソーシャルログインは必須だが、コストやセキュリティの関係上、自前の認証機構はできれば持ちたくない（が、複数のソーシャルログインに対応する必要があるので結局必要？）
		- Google（必須）
		- Twitter（必須）
		- Yahoo
		- その他の日本でよく使われるソーシャルログイン

# 開発概要
- 言語はTypeScript
- Vite,React-router,MUIを採用

# コーディングルール
- 関数型に寄せる
	- クラスやインターフェースは使わない
	- 純粋関数を多くし、副作用のある関数を少なくする
	- 状態の数やスコープを最小化する
- 可読性が悪いのでReactコンポーネントのタグ記述部分に一切ロジックを埋め込まず、変数や関数のコールまでにすること
	- 別の取得関数、変数、Reactコンポーネントとして切り出すこと

# Git規約
- Git-Flowを採用
- Gitmojiに倣い、コミットメッセージの先頭に絵文字を入れること
	- 複数に跨る場合は複数も可
- コミットメッセージは日本語
	- CLINEがコミットを作成した場合はコミットメッセージに` by CLINE`と付け加えること