/* ---------------------------------------------------
ここからテーブル関係（各サイトデータテーブル用）
更新サイト一覧対策としてtrにクラス割り振って下位のtdをそれぞれ処理する形を取る。
延々と<tr class="X">が続いて無駄なコードが増えるが、
更新サイト一覧が不規則な構造をとっているためセレクタだけでは対応が難しい。
今後の検討課題。
----------------------------------------------------- */
/*--------------------------------------------------------------
 テーブルのボーダーとセルの上ボーダーが被るのを防ぐ。
更新サイト一覧に影響しないようにthead内にsitedataクラスがあるかどうかでチェック 
----------------------------------------------------------------*/
.sitedata td {
		height : 45px ;
		background-color: #fbf8e9;
}

.sitedata td:nth-of-type(1) {
		width : 30% ;
		font-weight : bold ;
}

.sitedata td:nth-of-type(2){
		width : 30% ;
}
		
.sitedata td:nth-of-type(3) {
		width : 45% ;
		font-size: 14px;font-size: 1.4rem;
}

.obrdata td { 
		font-size: 14px;font-size: 1.4rem;
}

.obrdata td:nth-of-type(2) {
		width : 20% ;
}
.obrdata td:nth-of-type(4) {
		width : 15% ;
}


.disabled td{
	background-color: #e0e0e0;
}
/* ここまでテーブル関係（各サイトデータテーブル用） */


